.maintenance{
  width: 100%;
  padding: 2rem 0;
  background-color: $bcg-grey-color-light;
  &__container{
    width: 1140px;
    margin: 0 auto;
    padding: 0 2rem;
    border-left: 2px solid $color-warning;
    &--help{
      border-left: none; 
    }
    @include respond(tab-port ) {  
      width: 100%;
    } 
    @include respond(phone) {  
      width: 100%;
    } 
  }
  &__text{
    font-family: $oswaldText;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    color: $bcg-grey-color;
  }
  &__text:not(:last-child){ 
    margin-bottom: 2rem;
  }
  &__item{
    width: 100%;
    margin-bottom: 2rem;
  }
  &__data{
    font-family: $oswaldText;    
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    color: $blue-color;
    margin-bottom: 0.3rem;
  }
  &__title{
    margin-bottom: 0.3rem;
    font-family: $oswaldText; 
    font-size: 1.8rem;
    line-height: 2rem; 
    font-weight: 400;
    text-transform: uppercase;
    color: $color-warning;
  }
}